body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#top-bar {
    background-color: #98002E;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-title {
    color: #BC9B6A;
    font-size: 35px;
    margin-left: 10px;
}

#plan-selector select{
    background-color: #BC9B6A;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

#core-requirements-container {
    border: 4px solid #BC9B6A;
    position: absolute;
    top: 30%;
    left: .5%;
    transform: translate(0, -50%);
    margin-top: 10px;
}

#core-requirements-container, #core-requirements-text {
    color: #98002E;
    font-size: 1em;
}

#core-requirements-container, #core-requirements-text, #core-requirements-dropdown, #core-requirements-text h2
{
    display: inline;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 125px 125px 125px 125px;
    justify-content: space-evenly;
    gap: 10px;
    background-color: maroon;
    padding: 10px;
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.grid-container > div {
    background-color: gold;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
}

.grid-container > div .semester-title {
    font-size: 20px;
}

.grid-container > div .empty-box {
    justify-content: center;
    width: 225px;
    height: 12px;
    border: 1px solid black;
    margin: 0 auto;
}


